@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffeff;
  --dark-blue: #0c1b38;
  --red: #aa512b;
  --bright-red: #d71f27;
  --tan: #c7b29f;
  --white: #f6eee0;
  --green: #5d7633;
  --blue: #3f4cec;
  --orange: #d94100;
  --tan-light: #cfbdad;
}



body, html {
  background-color: var(--tan);
  margin: 0;
  font-family: Heavy Man, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

h1, h3, li, p {
  font-family: Heavy Man;
  color: var(--dark-blue);
}

button {
  font-family: "Garamond";
  margin: 10px;
  transition: .3s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

h2 {
  font-family: Heavy Man;
  color: var(--dark-blue);
  font-size: 1.8rem;
}

.title {
  font-size: 3rem;
  color: var(--dark-blue);
  transition: .3s ease-in-out;
}

.title:hover {
  transform: scale(1.05);
}

p {
  font-size: 1.5rem;
}

li {
  font-family: 'Garamond';
  font-size: 1.2rem;
}

h3 {
  font-size: 2rem;
}

.subtitle {
  font-family: 'Garamond';
  color: var(--dark-blue);
  font-size: 1.6rem;
}

.Gallery {
  column-count: 3;
  column-width: 33%;
}

.gallery-image {
  transition: .3s ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.02);
}

.gallery-image a, .gallery-image a > img {
  cursor: pointer;
}

.gallery-image a > img {
  transition: .3s ease-in-out;
}

.gallery-image a:hover {
  background-color: var(--green);
}


.link {
  font-size: 1.2rem;
  margin: 1rem;
  color: var(--dark-blue);
}

.link:hover{
  color: var(--green);
  text-decoration-line: underline;
  cursor: pointer;
}

.link:active {
  text-decoration-line: underline;
}

.RSVP button, label, input {
  font-family: Heavy Man;
}

.RSVP {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  color: var(--tan);
  background-image: url("/128.jpg");
}

.RSVP form {
  background-color: var(--dark-blue);
  transition: .3s ease-in-out;
}

.RSVP input {
  padding: 1rem;
}

.RSVP select {
  padding: 1rem;
}

.RSVP button {
  font-size: .8rem;
  float: center;
}


.gallery-image, .RSVP form, .About, .Menu, .nav-header{
  animation: fadeIn 1s ease-in-out;
}

.image-expand {
  transition: transform 3s ease-in-out;
}

.image-expand:hover {
  transform: scale(1.1);
}


/*********** FONTS **************/

@font-face {
  font-family: 'Raincheck';
  src: url("/TAYRaincheck.otf")format("opentype");
}

@font-face {
  font-family: "Heavy Man";
  src: url("/TAYHeavyMan.otf")format("opentype");
}

@font-face {
  font-family: "Dandy";
  src: url("/TAYDandy.otf")format("opentype");
}


/********** ANIMATIONS ************/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}